.pastCollectionsWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  width: 95%;
  margin: 0 auto;
}

.slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.collection-slide {
  opacity: 0.5;
  transition: transform 0.3s ease;
}

.collection-slide.tilted {
  transform: perspective(1000px) rotateY(30deg); /* Tilt effect for the image */
}

/* Reset transform for the current slide and next slides */
.slick-center .collection-slide img {
  transform: none;
  transition: transform 0.3s ease;
}

.slick-center .collection-slide {
  width: 50vh;
  height: 50vh;
  opacity: 1;
}

.collection-slide img {
  width: 30vh;
  height: 30vh;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.slick-center img {
  width: 100%;
  height: 100%;
  max-width: 70vh;
  max-height: 60vh;
  object-fit: contain;
}

.collection-title {
  margin-top: 3vh;
  display: none;
}

.slick-center .collection-title {
  display: block;
}

.pastCollectionTitle {
  font-weight: 1000;
  -webkit-text-stroke: 0.25vh;
}

.customSlider {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.sliderButton {
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sliderButton:hover {
  background-color: #eee;
}

@media screen and (max-width: 1000px) and (orientation: portrait) {
  .pastCollectionsWrapper {
    row-gap: 2vh;
    width: 80%;
  }

  .collection-slide img {
    width: 15vw;
    height: 15vw;
  }

  .slick-center img {
    max-width: 50vw;
    max-height: 60vw;
  }

  .slick-center .collection-slide {
    width: 40vw;
    height: 30vw;
  }

  .collection-title {
    width: 100%;
    margin-top: 1vh;
  }

  .pastCollectionTitle {
    font-weight: 800;
    -webkit-text-stroke: 0.2vh;
  }
}
