.posterContainer {
  height: auto;
  width: auto;
  background-color: #664b83;
  color: white;
}

.newCollectionPoster {
  max-width: 100vw;
}

.newCollectionPoster.clickable {
transition: filter 0.1s ease-in-out;
}

.newCollectionPoster.clickable:hover {
opacity: 1;
filter: brightness(110%);
}