.allProductsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 5vh;
  margin: 5vh 0vh;
}

.noProductsFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
  padding: 20vh 0vh 30vh 0vh;
}

@media screen and (max-width: 1000px) and (orientation: portrait) {
  .allProductsContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .collectionComponentContainer#productView {
    padding: 0vh;
  }
}
