#emailBreak {
  background-color: #FFF7D9;
  color: #cf5854;
  font-weight: bold;
  padding: 0vh 10vh;
}

@media screen and (max-width: 1000px) and (orientation: portrait) {
  #emailBreak {
    padding: 1vh 0vh;
  }
}