.backNavigator {
  display: flex;
  padding: 5vh 0vh 0vh 6vh;
  font-size: 3vh;
}

.backArrow {
  padding-right: 1vh;
}

@media screen and (max-width: 1000px) and (orientation: portrait) {
  .backNavigator {
    position: sticky;
    top: 8vh;
    background-color: #d8d5c8;
    padding: 2vh 0vh 1vh 2vh;
  }

  .backNavigator h4 {
    font-size: 2vh;
  }
}