.allProductsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 5vh;
  margin: 5vh 0vh;
}

.filterItemsContainer {
  display: flex;
  justify-content: flex-end;
}

.stickyFilter {
  position: sticky;
  position: -webkit-sticky;
  top: 22vh;
  z-index: 9999;
}

.filterItems {
  margin-top: -6vh;
  font-size: 4vh;
  padding-right: 10vh;
}

.noProductsFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
  padding: 20vh 0vh 30vh 0vh;
}
