.pageHeader {
  display: flex;
  justify-content: space-between;
}

.allProductsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 5vh;
  margin: 5vh 0vh;
}

.filterItems {
  position: sticky;
  top: 12vh;
  z-index: 9999;
  font-size: 4vh;
  padding-right: 10vh;
  height: 100%;
  align-self: flex-start;
}

.activeFilter {
  opacity: 0.5;
}

.noProductsFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
  padding: 20vh 0vh 30vh 0vh;
}