.navbar-container {
  display: flex;
  justify-content: space-around;
  padding: 2vh 0vh;
  font-size: 2vh;
  position: sticky;
  z-index: 9999;
  top: 0px;
  background-color: #d8d5c8;
  /* border: solid black;
  border-width: 2px 0; */
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10vh;
}

.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15vh;
}

.cart-icon {
  width: 4vh;
}