.navbarContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2vh 0vh;
  font-size: 2vh;
  position: sticky;
  z-index: 9999;
  top: 0px;
  background-color: #d8d5c8;
  /* border: solid black;
  border-width: 2px 0; */
}

.menuButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.navbarLink.clickable:hover {
  opacity: 0.5;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10vh;
}

.shopNavWrapper {
  position: relative;
}

.shopNav {
  display: none;
}

.shopNav.open {
  position: absolute;
  background-color: lightgray;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  width: 40vh;
  left: 50%;
  transform: translateX(-50%);
}

.navbarLink.open {
  color: blue;
}

.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16vh;
}

.bar {
  width: 20px;
  height: 2px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.2s;
}

.navbarLink.active {
  color: #b94c48;
}

/* Media query for smaller screens */
@media screen and (max-width: 1000px) and (orientation: portrait) {
  .menuButton {
    display: block;
  }

  .navbar {
    display: none;
    column-gap: 10vw;
  }

  .navbarContainer.menuOpen .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: lightgray;
    padding: 1vh 0vh;
    border: solid black;
    border-width: 3px 0px;
    z-index: 999;
  }

  .shopNav p {
    font-size: 2vh;
    text-align: left;
  }

  .shopNav.open {
    transform: translateX(-15%);
    margin-top: 1.1vh;
    height: 100vh;
    width: 60vw;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2vh 0vh;
    row-gap: 2vh;
    border-width: 2px 2px 2px 0px
  }

  .shopNavCol {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0vh 1.5vh;
  }

  .shopNavItemWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0vh 2vh;
  }

  .navbarLink {
    font-size: 4vw;
  }

  /* .lineBreak {
    height: 20px;
    width: 1px;
    background-color: black;
  } */

  .navbarContainer.menuOpen .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .navbarContainer.menuOpen .bar:nth-child(2) {
    opacity: 0;
  }

  .navbarContainer.menuOpen .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .cart-container {
    margin-left: 0vh;
  }
}
