@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

body,
html,
#root,
.App {
  margin: 0;
  background-color: #d8d5c8;
}

body {
  height: 100vh;
}

* {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-family: 'DM Sans', sans-serif;
  text-align: center;
}

*:focus-visible {
  outline: none;
}

h1 {
  font-size: 5vh;
}

h2 {
  font-size: 4.5vh;
}

h3 {
  font-size: 4vh;
}

h4 {
  font-size: 3.5vh;
}

h5 {
  font-size: 3vh;
}

h6 {
  font-size: 2.5vh;
}

p {
  font-size: 2vh;
}

input[type='email'],
input[type='text'] {
  font-size: 2vh;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 16vw;
  }

  h2 {
    font-size: 12vw;
  }

  h3 {
    font-size: 10vw;
  }

  h4 {
    font-size: 8vw;
  }

  h5 {
    font-size: 6vw;
  }

  h6 {
    font-size: 3vw;
  }

  p {
    font-size: 2vw;
  }

  input[type='email'],
  input[type='text'] {
    font-size: 3vw;
  }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
  h1 {
    font-size: 16vh;
  }

  h2 {
    font-size: 12vh;
  }

  h3 {
    font-size: 10vh;
  }

  h4 {
    font-size: 8vh;
  }

  h5 {
    font-size: 6vh;
  }

  h6 {
    font-size: 3.5vh;
  }

  p {
    font-size: 3vh;
  }

  input[type='email'],
  input[type='text'] {
    font-size: 3vh;
  }
}
